# Import the relevant libraries

In [15]:
import numpy as np
import pandas as pd
import tensorflow as tf

# load the data

In [16]:
data_preprocessed = pd.read_csv('../Absenteeism_data_preprocessed.csv')
data_preprocessed

,Unnamed: 0,Reason type 1,Reason type 2,Reason type 3,Reason type 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1
1,1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1
2,2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2
3,3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7,3
4,4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,1,0,0,0,179,22,40,237.656,22,1,2,0,8,5,2
696,696,1,0,0,0,225,26,28,237.656,24,0,1,2,3,5,2
697,697,1,0,0,0,330,16,28,237.656,25,1,0,0,8,5,3
698,698,0,0,0,1,235,16,32,237.656,25,1,0,0,2,5,3
699,699,0,0,0,1,291,31,40,237.656,25,0,1,1,2,5,3

In [17]:
data_preprocessed = data_preprocessed.drop(['Unnamed: 0'],axis=1)
data_preprocessed

,Reason type 1,Reason type 2,Reason type 3,Reason type 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1,2,0,8,5,2
696,1,0,0,0,225,26,28,237.656,24,0,1,2,3,5,2
697,1,0,0,0,330,16,28,237.656,25,1,0,0,8,5,3
698,0,0,0,1,235,16,32,237.656,25,1,0,0,2,5,3
699,0,0,0,1,291,31,40,237.656,25,0,1,1,2,5,3

# separete the data into inputs and targets

### create the targets

In [18]:
# for the feature 'Absenteeism Time in Hours' give value 1 for values greater than the median.
targets = np.where(data_preprocessed['Absenteeism Time in Hours']>data_preprocessed['Absenteeism Time in Hours'].median(),1,0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

### create the inputs

In [19]:
unscaled_inputs = data_preprocessed.drop(['Absenteeism Time in Hours',],axis=1)
# unscaled_inputs = data_preprocessed.drop(['Absenteeism Time in Hours','Distance to Work',
#        'Daily Work Load Average',
#        'Day of the Week'],axis=1)
unscaled_inputs

,Reason type 1,Reason type 2,Reason type 3,Reason type 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1,2,0,5,2
696,1,0,0,0,225,26,28,237.656,24,0,1,2,5,2
697,1,0,0,0,330,16,28,237.656,25,1,0,0,5,3
698,0,0,0,1,235,16,32,237.656,25,1,0,0,5,3
699,0,0,0,1,291,31,40,237.656,25,0,1,1,5,3

### standardize the inputs

In [20]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.copy = copy
        self.with_mean = with_mean
        self.with_std = with_std
        self.columns = columns
        self.mean = None
        self.var_ = None
    
    def fit(self, X, y=None):
        self.scaler = StandardScaler(copy=self.copy,with_mean=self.with_mean,with_std=self.with_std)
        self.scaler.fit(X[self.columns],y)
        self.mean = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled,X_scaled], axis=1)[init_col_order]

In [21]:
unscaled_inputs.columns.values

array(['Reason type 1', 'Reason type 2', 'Reason type 3', 'Reason type 4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month Value', 'Day of the Week'], dtype=object)

In [22]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

features_to_ommit = ['Reason type 1', 'Reason type 2', 'Reason type 3'
                     , 'Reason type 4','Education']
features_to_scale = [feature for feature in unscaled_inputs.columns.values if feature not in features_to_ommit ]
features_to_scale

['Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Children',
 'Pets',
 'Month Value',
 'Day of the Week']

In [23]:
scaler = CustomScaler(features_to_scale)
scaler.fit(unscaled_inputs)
scaled_inputs = scaler.transform(unscaled_inputs)
scaled_inputs

C:\Users\Munguambe\anaconda3\envs\py3-TF2.0\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

,Reason type 1,Reason type 2,Reason type 3,Reason type 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week
0,0,0,0,1,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487,0.182726,-0.683704
1,0,0,0,0,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690,0.182726,-0.683704
2,0,0,0,1,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690,0.182726,-0.007725
3,1,0,0,0,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690,0.182726,0.668253
4,0,0,0,1,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487,0.182726,0.668253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,1,0.880469,-0.589690,-0.388293,-0.007725
696,1,0,0,0,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,0,-0.019280,1.126663,-0.388293,-0.007725
697,1,0,0,0,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,1,-0.919030,-0.589690,-0.388293,0.668253
698,0,0,0,1,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,1,-0.919030,-0.589690,-0.388293,0.668253
699,0,0,0,1,1.036026,0.074838,0.562059,-0.853789,-0.408580,0,-0.019280,0.268487,-0.388293,0.668253

### inputs dataframe to nd.array

In [24]:
scaled_inputs = scaled_inputs.to_numpy()
scaled_inputs

array([[ 0.        ,  0.        ,  0.        , ...,  0.26848661,
         0.18272635, -0.68370352],
       [ 0.        ,  0.        ,  0.        , ..., -0.58968976,
         0.18272635, -0.68370352],
       [ 0.        ,  0.        ,  0.        , ..., -0.58968976,
         0.18272635, -0.00772546],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.58968976,
        -0.3882935 ,  0.66825259],
       [ 0.        ,  0.        ,  0.        , ..., -0.58968976,
        -0.3882935 ,  0.66825259],
       [ 0.        ,  0.        ,  0.        , ...,  0.26848661,
        -0.3882935 ,  0.66825259]])

### shuffle the data

In [25]:
scaled_inputs.shape[0]

700

In [26]:
shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)

shuffled_targets = targets[shuffled_indices]
shuffled_inputs = scaled_inputs[shuffled_indices]

# split the data into train, test and validation data

In [27]:
sample_count = scaled_inputs.shape[0]

train_sample_count = int(0.8*sample_count)
test_sample_count = int(0.1*sample_count)
validation_sample_count = sample_count - train_sample_count - test_sample_count # not necessarily useful

train_inputs = shuffled_inputs[:train_sample_count]
train_targets = shuffled_targets[:train_sample_count]

test_inputs = shuffled_inputs[train_sample_count:train_sample_count+test_sample_count]
test_targets = shuffled_targets[train_sample_count:train_sample_count+test_sample_count]

validation_inputs = shuffled_inputs[train_sample_count+test_sample_count:]
validation_targets = shuffled_targets[train_sample_count+test_sample_count:]

print(f'Train difference: {train_inputs.shape[0]/np.sum(train_targets)}\n')
print(f'Validation difference: {validation_inputs.shape[0]/np.sum(validation_targets)}\n')
print(f'Test difference: {test_inputs.shape[0]/np.sum(test_targets)}\n')

Train difference: 2.121212121212121

Validation difference: 1.9444444444444444

Test difference: 3.6842105263157894

In [28]:
np.savez('absenteeism_data_train',inputs=train_inputs,targets=train_targets)
np.savez('absenteeism_data_validation',inputs=validation_inputs,targets=validation_targets)
np.savez('absenteeism_data_test',inputs=test_inputs,targets=test_targets)